// Awesome

@import 'bourbon'

@include font-face(OpenSansRegular, "/assets/OpenSans-Regular-webfont")
@include font-face(IcoMoon, "/assets/icomoon")

@mixin reset
  padding: 0
  margin: 0

$main_color: #20A438

@mixin main_gradient
  +linear-gradient($main_color, darken($main_color, 10%))

.icon
  font-family: "IcoMoon"
.button
  float: right
  cursor: pointer
  +main_gradient
  color: white
  font-weight: bold
  border: none
  text-shadow: 0px -1px 0px black
  border-radius: 5px
  padding: 8px 20px

.textbox
  width: 100%
  padding: 8px
  +box-sizing(border-box)
  border: 1px solid #ccc
  font: inherit
  margin-bottom: 5px
  border-radius: 5px
  outline: none

body
  +reset
  font-family: "OpenSansRegular"
  header
    +main_gradient
    overflow: auto
    height: 40px
    h1
      +reset
      float: left
      color: white
      padding: 6px 0 0 25px
      font-size: 1.2em
      text-shadow: 0px -1px 0px black
    ul 
      +reset
      margin-left: 40px
      float: left
      li 
        +reset
        float: left
        list-style: none
        padding-top: 7px
        a 
          color: white
          padding: 10px 25px
          text-decoration: none
          font-size: .9em
          text-shadow: 0px -1px 0px black
        a.current
          background: darken($main_color, 10%)
    form
      float: right
      padding: 6px 8px 0 0
      .icon
        padding: 6px 15px 0 0
        text-shadow: 0px -1px 0px black
        color: white
        cursor: pointer
      input[type="text"]
        @extend .textbox
        height: 27px
        border: none
        box-shadow: 0px -1px 0px #ccc
        font-size: .9em
        display: none
  div#wrapper
    margin: 0 auto
    width: 900px
    overflow: auto
    aside
      float: left
      width: 250px
      margin-top: 15px
      section#aside_box
        margin: 10px 30px
        border: 1px solid #ccc
        padding: 1px
        h3
          text-align: center
          color: white
          font-size: .9em
          +reset
          +main_gradient
          text-shadow: 0px -1px 0px black
          padding: 5px 0
        ul
          +reset
          li
            list-style: none
            border-bottom: 1px #ccc dashed
            padding: 5px
            font-size: .9em
            .right
              float: right
            a
              font-weight: bold
              color: black
              text-decoration: none
            a:hover
              text-decoration: underline
          li:last-of-type
            border: none
    section#content
      float: left
      font-size: .9em
      ul, p
        +reset
      h1
        margin-bottom: 10px
      form
        input, textarea
          @extend .textbox
        textarea
          height: 300px
      ul
        li 
          list-style: none
          padding: 12px 8px
          border-bottom: 1px dashed #ccc
          width: 620px
          a 
            color: black
            text-decoration: none
          a:hover
            text-decoration: underline
          .links
            float: right

        li:last-of-type
          border: none
    footer
      +position(fixed, 0 0px 0px 0px)
      background: #eee
      border-top: 1px #ccc solid
      color: #ccc
      text-align: center
      p
        text-shadow: 0px -1px 0px #999
        padding: 8px
        margin: 0
        font-size: .8em


