%li
	%b= product.title
	= "@ $#{product.price}"
	.links
		Details 
		\| 
		- if product.quantity < 1 
			Out of stock
		- else
			= link_to "Add to cart", to_cart_path(id: product), :method=> :post